<!DOCTYPE html>
<html>
    <head>
        <title>
            GPS SERVER
        </title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <!-- <script src= "/socket.io/socket.io.js"></script>    -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
         <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
         <style>
           #recv {list-style-type: none;margin: 0;padding: 0;}
           #recv li {padding: 5px 10px;}
           #recv li:nth-child(odd) {background: #eee;}
         </style>
    </head>
<body>

    <script>
      var socket = io.connect('http://103.137.185.94:3000');
      socket.on('news', function (data) {
        console.log(data);
      });
    </script>
      </body>
</html>