<!DOCTYPE html>
<html>
    <head>
        <title>
            GPS SERVER
        </title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <!-- <script src= "/socket.io/socket.io.js"></script>    -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
         <script src="/js/jquery.min.js"></script>
         <script src="/index.js"></script>
         <style>
           #recv {list-style-type: none;margin: 0;padding: 0;}
           #recv li {padding: 5px 10px;}
           #recv li:nth-child(odd) {background: #eee;}
         </style>
    </head>
<body>

    <script>
      var socket = io.connect('http://103.137.185.94');
      socket.on('emit_from_server', function (data) {
        console.log(data);
      });
    </script>
    <!-- <script>
    var socket = io();
    socket.on('emit_from_server', function (data) {
     console.log(data);
    // var ele = document.createElement('div')
    // ele.innerHTML = data.my
    // document.body.appendChild(ele)
			//	$("#chat-content").append(data);
    });
   // socket.emit('client-send', { my: 'data' });
    </script>

      </body>
</html>